.min-height {
  min-height: calc(100vh - 112px);
}
.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  margin-right: 1rem;
  font-size: 1.4rem;
  background-color: rgb(236, 247, 243);
}
